:root {
  font-size: 62.5%; //1rem =10px
}

.header {
  font-size: 1.2rem;
  font-weight: bold;
}

.logoPC {
  width: 24rem;
  margin-left: -1rem;
  margin-right: 2rem;
}

#button {
  padding: 1.5rem 3.5rem;
  border: 2px solid white;
  font-size: 1.8rem;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  &.footer a {
    text-decoration: none;
    color: white;
  }
  &.footer a:hover {
    color: $link-hover;
  }
}

.copyOBC {
  color: $copy-color;
}

//media query 
@media (max-width: 405px) {
  .logoPC {
    width: 18rem;
    margin-top: 1.5rem;
  }
  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .logoPC {
    width: 15rem;
    margin-top: 1.5rem;
  }
}